body{
    font-family: 'Finlandica', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top-head{
    font-size: 60px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 180px;
    margin-left: 20px;
    padding-bottom: 10px;
    
}
.second-header{
    font-size: 60px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.top-banner{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    padding-bottom: 40px;
    
}

#top-banner-para{
    text-align: center;
    color: wheat;
    
}

.donate-button{
    color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 800;
    text-decoration: none;
    background-image: linear-gradient(coral, orange);
    border-radius: 6px;
    background-color: white;
    width: 180px;
    margin: 20px 40px 20px 45%;

}

h2{
    font-size: 40px;
    text-align: center;
    
}

.donate-para{
    text-align: center;
    color: grey;
}

.top-head{
    padding-top: 180px;
    margin-left: 20px;
    padding-bottom: 10px;
    
}

.amount1{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: slategray;
    background-color: rgb(242, 238, 238);
}
.amount2{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    border: slategray;
    background-color: rgb(242, 238, 238);
}

.amount3{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    border: slategray;
    background-color: rgb(242, 238, 238);
}

.amount4{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    border: 2px solid chocolate;
    background-color: rgb(243, 203, 203);
}

.amount5{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    border: slategray;
    background-color: rgb(242, 238, 238);
}

.inline-boxes{
    text-align: center;
    padding-block: 10px;
    
}

.input-money{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
    margin-left: 35%;
    padding-left: 10%;
    padding-right: 10%;
    
}

.donate-today{
    margin-top: 30px;
    
}

.donation-plan{
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}

.border-decoration{
    width: 30%;
    padding-left: 5%; 
    padding-right: 5%;
    
}

.food{
    padding-top: 5%;
    padding-left: 2%;
    border: 2px;
    background-color: rgb(202, 201, 201);
    margin-right: 20px;
    

}

.shelter{
    padding-top: 5%; 
    padding-left: 2%;

    border: 2px;
    background-color: rgb(242, 220, 224);

}

.education{
    padding-top: 5%;
    padding-left: 2%;

    border: 2px ;
    background-color: rgb(242, 228, 203);
    margin-left: 20px;

}

.half-width{
    width: 50%;
    padding-left:20%;
    padding-right: 15%;    
}

.half-width img{
    width: 150%;
}

.flexible-container{
    display: flex;
    padding-top: 50px;

}

.cotribution-button{
    text-decoration: none;
    background-color: crimson;
    background-image: linear-gradient(coral, orange);
    color: white;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 6px;
}

.update{
    padding-top: 50px;
}

.subscribe{
    text-decoration: none;
    text-align: center;
    background-color: crimson;
    background-image: linear-gradient(coral, orange);
    color: white;
    font-weight: 800;
    padding: 10px;
    border-radius: 6px;
}

.email{
    text-decoration: none;
    text-align: left;
    background-color: rgb(227, 217, 217);
    color: white;
    font-weight: 800;
    padding: 10px ;
    border-radius: 6px;
}

.get-in-touch{
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px;
    background-color: rgb(244, 216, 206)
    
}